.Bigform
{
    margin-top: 2.5em;
    margin-left: 48em;
    padding: 126px 3px 3px 40px;
    background-color: #FFFF;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    position: absolute;
    vertical-align: baseline;
}
.aa
{
    text-decoration: none;
    color: #385185;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    margin-bottom: -50em;
    text-align: center;
}
.ff
{
    margin-left: -10em;
    margin-top: 700px;
    align-items: baseline;
    position: absolute;
}
.facebook
{
    background-image: url(./facebook.png);
    max-height: 18px;
    background-repeat: no-repeat;
    width: 15px;
    background-position: -416px -258px;
}
.logo
{
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/yr/r/NL0hPV-L09m.png);
    background-position: 0px 0px;
    background-size: 176px 186px;
    width: 174px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: #FFFF;
    position: absolute;
    margin-top: -5em;
    margin-left: -7em;

}
form
{
    display: grid;
    gap: 12px;
    width: 20em;
    position: relative;
    background-color: #FFFF;
}
input
{
background-color: #FAFAFA;
padding: 9px 0px 7px 8px;
border: 1px  #DBDBDB solid ;
width: 20em;
}
button
{
    border-radius: 8px;
    color: white;
    background-color: #0095F6;
    padding: 8px;
    border: 1px transparent;
    width: 21em;
    cursor: pointer;
}
.bigbtn
{
    background-color: #0095F6;
}
.bigline
{
    background-color: #FFFF;
}
.or
{
    background-color: #FFFF;
    margin-top: 2em;
    margin-right: 2em;
    color: #8E8EAB;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8125rem;
}
.line1
{
    border-top: 1px #DBDBDB solid;
    position: absolute;
    margin-top: 2em;
    margin-left: 2em;
    width: 125px;
}
.line2
{
    border-top: 1px #DBDBDB solid;
    position: absolute;
    margin-top: 2em;
    margin-left:-9em;
    width: 125px;
}
.login
{
    color: #385185;
    margin-top: 2em;
    text-align: center;
    cursor: pointer;

}
.forget
{
    font-size: 10px;
    color: #00376b;
    margin: 18px;
}
.secbox
{
    position: absolute;
    margin-left: 48em;
    margin-top: 29em;
    border: 1px #DBDBDB solid;
    padding: 9px 104px;
    background-color: #fff;

}
.secbox :nth-child(1)
{
    color: #262626;
    font-size: 14px;
    width: 11em;
}
.secbox :nth-child(2)
{
    color: #0095F6;
    font-size: 14px;
    position: absolute;
    margin-top: -2em;
    margin-left: 11em;
    width: 53px;
    font-weight: 600;
}
.getapp
{
    position: absolute;
    margin-top: 38em;
    margin-left: 54em;
}
.get
{
    position: absolute;
    margin-top: -68px;
    margin-left: 3em;
    width: 104px;
    font-size: 14px;
}

.pic1
{
    width: 8em;
    position: absolute;
    margin-top: -2em;
    margin-left: -3em;
}
.pic2
{
    width: 7em;
    position: absolute;
    margin-top: -2em;
    margin-left: 6em;
}
@media (max-width:875px)
{
    .Bigform
    {
        margin-top: 2.5em;
        margin-left: 26em;
        padding: 126px 3px 3px 40px;
        background-color: #FFFF;
        align-items: center;
        border: 1px solid #DBDBDB;
        border-radius: 1px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font: inherit;
        font-size: 100%;
        position: absolute;
        vertical-align: baseline;
    }
    .secbox {
        position: absolute;
        margin-left: 26em;
        margin-top: 29em;
        border: 1px #DBDBDB solid;
        padding: 9px 104px;
        background-color: #fff;
    }
    .getapp {
        position: absolute;
        margin-top: 38em;
        margin-left: 33em;
    }
}
@media (max-width:450px)
{
   
   
    .Bigform
    {
        margin-top: 2.5em;
        margin-left: 15em;
        padding: 126px 3px 3px 40px;
        background-color: transparent;
        align-items: center;
        border: none;
        border-radius: 1px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font: inherit;
        font-size: 100%;
        position: absolute;
        vertical-align: baseline;
    }
    .secbox {
        position: absolute;
        margin-left: 14em;
        margin-top: 28em;
        border: none;
        padding: 9px 104px;
        background-color: transparent;
    }
    .getapp {
        position: absolute;
        margin-top: 44em;
        margin-left: 24em;
    }
}